#counter {
    margin-bottom: clamp(60px, 6.25vw, 120px);

    .counter-container {
        display: grid;
        grid-template-columns: [first] 33.333% auto 33.333% [end];
        justify-items: center;
        padding: clamp(20px, 1.823vw, 35px) clamp(40px, 3.906vw, 75px);
        box-shadow: 0px 30px 30px 30px rgba($color01, 0.05);

        .counter-box {
            display: grid;
            grid-template-columns: [first] 50% 50% [end];
            width: 100%;
            height: 130px;
            align-content: center;
            border-right: 2px solid rgba($color01, 0.1);

            .box-symbol {
                display: grid;
                width: 60px;
                height: 60px;
                justify-self: end;
                border-radius: 50%;
                background-color: rgba($color03, 0.1);
                margin-right: 15px;

                .box-symbol__icon {
                    justify-self: center;
                    align-self: center;

                    &::before {
                        font-family: 'test-font-icons';
                        font-size: 25px;
                        color: $color03;
                    }
                }

                .box-symbol__icon--users {
                    &::before {
                        content: $iconUser;
                    }
                }

                .box-symbol__icon--locations {
                    &::before {
                        content: $iconLocation;
                    }
                }

                .box-symbol__icon--servers {
                    &::before {
                        content: $iconServer;
                    }
                }

                @media (max-width: 767px) {
                    justify-self: center;
                }
            }

            .box-text {
                margin-left: 15px;

                .box-text__value {
                    font-size: 1.563rem;
                    font-weight: 700;
                    color: $color02;
                    line-height: 1;
                    margin-bottom: 0;

                    &::after {
                        content: "+";
                    }
                }

                .box-text__name {
                    font-size: 1.25rem;
                    margin-bottom: 0;

                    @media (max-width: 991px) {
                        font-size: 1rem;
                    }
                }
            }

            &:first-child {
                .box-text__name {
                    font-weight: 700;
                }
            }

            &:last-child {
                border-right: none;
            }

            @media (max-width: 767px) {
                border-right: none;
                border-bottom: 2px solid rgba($color01, 0.1);

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        @media (max-width: 991px) {
            padding: 15px;
        }

        @media (max-width: 767px) {
            grid-template-columns: 100%;
        }
    }
}